.brand-list {
    gap: 25px;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(4, 1fr);
    margin: 25px auto 40px;
    &__item {
        position: relative;
    }
}


@media (max-width: 1100px) {
    .brand-list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    .brand-list {
        gap: 20px;
        grid-template-columns: repeat(1, 1fr);
    }
}