//colors
$white: white;
$black: black;
$gray: #FBFBFB;
$grey: #DADADA;
$blue: blue;
$yellow: #FFF27E;

$main-red: #E20000;
$main-gray: #FBFBFB;
$main-blue: #248FEC;
$main-black: #232323;
$main-yellow: #FBE200;
$main-orange: #E5740B; 

$sub-blue: #44A8FF;
$sub-black: #575757;
$sub-white: #FBFBFB;
$sub-gray: #FAFAFA;

$deep-blue: #1E4D79;
$deep-gray: #969696;

$footer-color: #152A53;

//borders
$border-linen: 1px solid #ECECEC;
$border-blue-grey: 1px solid #4B4B4B;

