.breadcrumbs {
    gap: 4px;
    display: flex;
    margin-bottom: 30px;
    &__item {
        &::after {
            content: '/';
            color: $sub-black;
            font-size: 12px;
            font-weight: 400;
            line-height: 18px;
        }
        &:last-child span {
            color: $main-blue;
        }
        &:last-child::after {
            content: '';
            margin: 0;
        }
    }
    &__link {
        color: $sub-black;
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
        transition: all .3s;
        &:hover {
            color: $main-blue;
        }
    }
}

@media (max-width: 768px) {
    .breadcrumbs {
        margin-bottom: 20px;
    }
}