.main-card {
    position: relative;

    &:hover {
        .main-card__img-container {
            background: linear-gradient(253deg, rgba(0, 0, 0, 0.00) -59.58%, #100 100%);
            box-shadow: 0px 24px 90px 0px rgba(0, 0, 0, 0.18);
        }

        .main-card__date {
            color: $white;
        }

        .main-card__title {
            color: $main-yellow;
        }
    }

    &__top, &__bottom  {
        z-index: 2;
        left: 20px;
        position: absolute;
    }
    
    &__top {
        top: 20px;
    }
    
    &__bottom {
        gap: 5px;
        bottom: 20px;
        display: flex;
        flex-direction: column;
    }

    &__img-container {
        width: 100%;
        height: 290px;
        border-radius: 4px;
        background: linear-gradient(225deg, rgba(0, 0, 0, 0.00) 0%, #100 100%);
        overflow: hidden;
        position: relative;
        transition: all .5s;
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
    
    &__title, &__sub-title {
        color: $white;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        transition: all .5s;
    }

    &__date, &__sub-title {
        font-size: 13px;
        font-weight: 400;

    }

    &__date {
        line-height: 18px;
        color: $main-yellow;
    }

    &__title {
        font-size: 20px;
        font-weight: 700;
        line-height: 30px;
    }

    &__sub-title {
        line-height: 20px;
    }
}

.cars-card {
    &__top {
        position: relative;
        &-info {
            top: 15px;
            left: 15px;
            right: 15px;
            z-index: 10;
            display: flex;
            position: absolute;
            align-items: flex-start;
            justify-content: space-between;
        }
        &-slider {
            border-radius: 4px;
            .itc-slider {
                width: 100%;
                &-item {
                    width: 100% !important;
                }
                & .image-container {
                    width: 100%;
                    height: 200px;
                    border-radius: 4px;
                    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 40%, rgb(137, 137, 137) 100%);
                    overflow: hidden;
                    position: relative;
                    transition: all .5s;

                    & img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: -1;
                    }
                }
            }

            .itc-slider-indicators {
                color: transparent;
                bottom: 5px;
                left: 0;
                left: 50%;
                transform: translateX(-50%);
            }

            .itc-slider-indicator {
                border-top: 0;
                border-bottom: 0;
            }
        }
    }
    &__labels {
        gap: 6px;
        display: flex;
        &__item {
            font-size: 12px;
            font-weight: 500;
            line-height: 12px;
            padding: 3px 8px;
            border-radius: 2px;
        }
        & .blue {
            color: $white;
            background: $main-blue;
            box-shadow: 0px 4px 24px 0px rgba(36, 143, 236, 0.35);
        }
        & .yellow {
            color: $main-black;
            background: $main-yellow;
            box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.35);
        }
    }
    &__btns {
        gap: 5px;
        display: flex;
    }
    &__btn {
        padding: 8px;
        border-radius: 50%;
        background-color: $white;
        width: 32px;
        height: 32px;
        transition: all .3s;

        &:not(:last-child) {
            margin-right: 5px;
        }

        &:hover {
            transform: scale(1.2);
        }
    }
    &__title {
        color: $main-black;
        font-size: 20px;
        font-weight: 700;
        line-height: 30px;
    }
    &__subtitle {
        color: #797979;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
    }
    &__prices {
        gap: 10px;
        display: flex;
        align-items: center;
    }
    &__old-price, &__new-price {
        gap: 5px;
        display: flex;
        align-items: center;
        & .currency {
            color: $main-black;
        }
    }
    &__old-price {
        & .digit {
            color: #DC0000;
            font-size: 14px;
            font-weight: 400;
            line-height: 14px;
            text-decoration-line: line-through;
        }
        & .currency {
            font-size: 13px;
            font-weight: 400;
            line-height: 13px;
        }
    }
    &__new-price {
        & .digit {
            color: $main-black;
            font-size: 18px;
            font-weight: 700;
            line-height: 28px;
        }
        & .currency {
            font-size: 15px;
            font-weight: 700;
            line-height: 15px;
        }
    }
}

@media (max-width: 768px) {
    .main-card {
        position: relative;

        &__top, &__bottom  {
            left: 15px;
        }
        
        &__top {
            top: 15px;
        }
        
        &__bottom {
            gap: 0;
        }
    
        &__date {
            font-size: 12px;
        }
    
        &__title {
            font-size: 16px;
            line-height: 24px;
        }

        &__sub-title {
            -webkit-line-clamp: 1;
        }
    }

    .cars-card {
        &__top {
            position: relative;
            &-info {
                top: 15px;
                left: 15px;
                right: 15px;
                z-index: 10;
                display: flex;
                position: absolute;
                align-items: flex-start;
                justify-content: space-between;
            }
            &-slider {
                border-radius: 4px;
                .itc-slider {
                    width: 100%;
                }
    
                .itc-slider-indicators {
                    color: transparent;
                    bottom: 5px;
                    left: 0;
                    left: 50%;
                    transform: translateX(-50%);
                }
    
                .itc-slider-indicator {
                    border-top: 0;
                    border-bottom: 0;
                }
            }
        }
        &__title {
            font-size: 15px;
            line-height: 24px;
        }
        &__subtitle {
            font-size: 12px;
            line-height: 18px;
        }
        &__old-price {
            & .digit {
                font-size: 13px;
                line-height: 13px;
            }
        }
        &__new-price {
            & .digit {
                font-size: 16px;
                line-height: 16px;
            }
        }
    }
}