.compare {
    &-content {
        margin-bottom: 90px;

        th:first-child {
            position: sticky;
            left: 0;
            z-index: 1;
            .cars-card__top-info {
                justify-content: flex-end;
            }
        }

        td:first-child {
            position: sticky;
            left: 0;
            z-index: 1;
        }

        td {
            background: #FBFBFB;
            padding: 14px;
            color: #000;
            font-size: 14px;
            font-weight: 400;
            line-height: 22px;
        }

        td.table-group-title {
            background: none;
            color: #000;
            font-size: 24px;
            font-weight: 700;
            line-height: 34px;
        }

        td.table-group-subtitle {
            color: $main-blue;
            font-size: 16px;
            font-weight: 700;
            line-height: 24px;
            background: none;

        }

        td.table-title {
            width: 406px;
            color: #000;
            font-size: 14px;
            font-weight: 700;
            line-height: 22px;
        }

        td.table-price {
            color: $main-blue;
            font-weight: 700;

            span {
                color: #000;
            }
        }

        .table-differences {
            p {
                color: #000;
                font-size: 18px;
                font-weight: 700;
                line-height: 26px;
                margin-bottom: 15px;
            }

            &__group {
                width: 270px;
                margin-left: auto;
                margin-right: auto;
            }

            &__btns {
                &-yes {
                    padding: 14px 30px;
                    color: #FFF;
                    font-size: 15px;
                    font-weight: 600;
                    line-height: normal;
                    border-radius: 4px;
                    background: $main-blue;
                }

                &-no {
                    padding: 14px 30px;
                    color: $sub-black;
                    font-size: 15px;
                    font-weight: 400;
                    line-height: normal;
                    border-radius: 4px;
                    background: #FAFAFA;
                }
            }
        }
    }
}