.dealer {

    &__map-container,
    &__list-container {
        display: flex;
        flex-direction: column;
    }

    &__model-container {
        padding-bottom: 20px;
    }

    &__city {
        &-container {
            &-title {
                color: $main-black;
                font-size: 50px;
                font-weight: 700;
                line-height: 60px;
            }

            &-subtitle {
                color: $sub-black;
                font-size: 18px;
                font-weight: 400;
                line-height: 30px;
                margin: 5px 0 30px;
            }
        }

        &-content {
            display: flex;
            height: 605px;

            &_slider {
                width: 975px;
                overflow: hidden;
                position: relative;

                .swiper {
                    &-button {

                        &-prev,
                        &-next {
                            width: 60px;
                            height: 60px;
                            background-color: #248FEC;
                            border-radius: 50%;
                            transition: all .3s;

                            &::after {
                                font-size: 15px;
                                color: #fff;
                            }
                        }

                        &-prev {
                            left: 35px;
                        }

                        &-next {
                            right: 35px;
                        }

                        &-disabled {
                            opacity: 0;
                        }
                    }

                    &-pagination {
                        display: flex;
                        align-items: center;
                        left: 40px;

                        &-bullet {
                            opacity: 1;
                        }
                    }

                    &-slide {
                        img {
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }

            }

            &__map {
                flex: 1;
                height: auto;

                iframe {
                    height: 100%;
                    width: 100%;
                }
            }
        }
    }

    &__map-container {
        gap: 40px;

        &-title {
            color: $main-black;
            font-size: 50px;
            font-weight: 700;
            line-height: 60px;

            & span {
                color: $main-blue;
            }
        }

        &-map {
            width: 100%;
            height: 600px;
            border-radius: 8px;
        }
    }

    &__list-container {
        gap: 34px;
        margin: 70px auto 90px;

        &-title {
            color: #000;
            font-size: 45px;
            font-weight: 700;
            line-height: 55px;
        }
    }

    &__list {
        gap: 50px;
        display: flex;

        &__item {
            width: 525px;
            border-radius: 8px;
            background: $white;
            border: 1px solid #F4F4F4;
            box-shadow: 0px 14px 90px 0px rgba(0, 0, 0, 0.06);

            &-img {
                width: 100%;
                height: auto;
                margin-bottom: 20px;
                border-radius: 8px 8px 0px 0px;
            }

            &-content {
                margin: 0 30px 50px;

                &__city {
                    color: $main-blue;
                    font-size: 13px;
                    font-weight: 500;
                    line-height: 18px;
                    margin-bottom: 2px;
                }

                &__title {
                    color: $main-black;
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 30px;
                }

                &__subtitle {
                    color: $sub-black;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 20px;
                }

                &__info {
                    gap: 30px;
                    display: flex;
                    margin: 15px 0;

                    &-text {
                        color: $sub-black;
                        font-size: 13px;
                        font-weight: 400;
                        line-height: 18px;

                        & span {
                            color: $main-black;
                            margin-left: 5px;
                        }
                    }
                }

                &__phone {
                    gap: 8px;
                    display: flex;
                    align-items: center;

                    &-icon {
                        width: 24px;
                        height: 24px;
                    }

                    &-link {
                        color: $main-black;
                        font-variant-numeric: lining-nums tabular-nums;
                        font-size: 18px;
                        font-weight: 600;
                        line-height: normal;
                    }
                }

                &__btn {
                    width: 331px;
                    display: block;
                    margin: 41px auto 0;
                    padding: 18px 0;
                    color: $white;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 24px;
                    border-radius: 8px;
                    background: $main-blue;
                    box-shadow: 0px 14px 24px 0px rgba(36, 143, 236, 0.18);
                }
            }
        }
    }

    &__contact {
        gap: 112px;
        display: flex;
        margin: 50px auto;

        &-title {
            color: #000;
            font-size: 35px;
            font-weight: 700;
            line-height: 45px;
            white-space: nowrap;
        }

        &-info {
            gap: 25px;
            display: flex;
            flex-direction: column;
            margin-top: 11px;
            flex: 1;

            &__block {
                gap: 5px;
                display: flex;
                align-items: center;

                a {
                    color: #000;
                    transition: all .3s;

                    &:hover {
                        color: $main-blue;
                        cursor: pointer;
                    }
                }

                &-icon {
                    width: 24px;
                    height: 24px;
                }

                &-text {
                    color: $main-black;
                    font-size: 15px;
                    font-weight: 500;
                    line-height: 24px;

                    & span {
                        color: $sub-black;
                    }
                }
            }

            &__list {
                display: flex;
                justify-content: space-between;

                &__group {
                    display: flex;
                    flex-direction: column;
                    row-gap: 25px
                }
            }

        }
    }

    &__service {
        padding: 70px 0;
        background: #FBFBFB;

        .toggle-content {
            max-height: initial;
        }

        button {
            display: none;
        }

        &__title {
            color: $main-blue;
            font-size: 35px;
            font-weight: 700;
            line-height: 45px;
            margin-bottom: 30px;

            & span {
                color: $main-black;
            }
        }

        &__container {
            display: flex;
        }

        &__left {
            &-block {
                width: 58%;
                margin-right: 36px;
            }
        }

        &__right {
            &-block {
                flex: 1;
            }
        }

        &__list {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 14px 30px;

            &__item {
                gap: 8px;
                display: flex;
                align-items: center;

                &-icon {
                    width: 18px;
                    height: 18px;
                }

                &-text {
                    color: $main-black;
                    font-size: 15px;
                    font-weight: 500;
                    line-height: 24px;
                }
            }
        }
    }

    &__subservice {
        &__list {
            display: flex;

            &__item {
                gap: 15px;
                width: 25%;
                display: flex;
                align-items: center;
                padding: 30px 53px;
                border-right: 1px solid #DFDFDF;

                &-icon {
                    width: 45px;
                    height: 45px;
                }

                &-title {
                    color: $main-black;
                    font-size: 17px;
                    font-weight: 700;
                    line-height: 30px;
                }

                &-subtitle {
                    color: $sub-black;
                    font-size: 13px;
                    font-weight: 400;
                    line-height: 18px;
                }

                &:first-child {
                    padding: 30px 53px 30px 0;
                }

                &:last-child {
                    border-right: 0;
                }
            }
        }
    }

    &__directions {
        padding: 70px 0;
        border-top: 1px solid #DFDFDF;
        border-bottom: 1px solid #DFDFDF;

        &__title {
            color: $main-black;
            font-size: 24px;
            font-weight: 700;
            line-height: 34px;
            margin-bottom: 15px;

            & span {
                color: $main-blue;
            }
        }

        &__subtitle {
            color: $main-black;
            font-size: 15px;
            font-weight: 400;
            line-height: 30px;

            & span {
                font-weight: 700;
            }
        }
    }

    &__slider {
        margin: 70px auto;

        &__title {
            color: #000;
            font-size: 45px;
            font-weight: 700;
            line-height: 55px;
            margin-bottom: 50px;
        }
    }

    &__card {
        width: 380px;
        border-radius: 8px;
        background: $white;
        border: 1px solid #F4F4F4;
        box-shadow: 0px 14px 90px 0px rgba(0, 0, 0, 0.06);
    }
}

.see-more-link {
    color: $white;
    width: 240px;
    text-align: center;
    display: block;
    margin: 50px auto 0;
    padding: 20px 54px;
    font-size: 15px;
    font-weight: 600;
    line-height: 15px;
    border-radius: 8px;
    background: $main-blue;
}

.slider-gallery__container {
    position: relative;
    overflow: hidden;
}

.slider-gallery {
    display: flex;
    overflow: hidden;

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 50px;

        &__title {
            color: #000;
            font-size: 45px;
            font-weight: 700;
            line-height: 55px;
        }
    }

    &__list {
        display: flex;
        transition: all 0.3s ease;

        &-item {
            width: 25%;
            margin-right: 47px;
        }
    }

    &__controls {
        gap: 5px;
        display: flex;
        justify-content: center;

        &__prev-btn,
        &__next-btn {
            width: 50px;
            height: 50px;
            background: transparent;
        }

        &__prev-btn {
            transform: rotate(180deg);
        }
    }
}

/* Добавлено: блокировка кнопок */
.disabled {
    pointer-events: none;
    opacity: 0.5;
}


@media (max-width: 1400px) {
    .dealer {
        &__city-content {
            height: auto;

            &_slider {
                width: 60%;
            }
        }

        &__subservice {
            &__list {
                flex-wrap: wrap;

                &__item {
                    width: 50%;

                    &:first-child {
                        padding: 30px 53px;
                    }

                    &:nth-child(2) {
                        border-right: 0;
                    }
                }
            }
        }
    }
}

@media (max-width: 1350px) {
    .dealer {
        &__service {
            &__container {
                flex-direction: column;
            }

            &__list {
                grid-template-columns: repeat(3, 1fr);
            }

            &__left {
                &-block {
                    width: 100%;
                    margin-bottom: 40px;
                }
            }
        }
    }
}

@media (max-width: 1100px) {
    .dealer {
        &__contact {
            flex-direction: column;
            gap: 0;

            &-title {
                margin-bottom: 30px;
            }
        }
    }
}

@media (max-width: 1000px) {
    .dealer {
        &__service {
            &__list {
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }
}

@media (max-width: 800px) {

    .dealer__map-container-title {
        font-size: 40px;
        line-height: 50px;
    }

    .dealer {
        &__city {
            &-content {
                flex-direction: column;

                &__map {
                    height: 300px;
                    flex: auto;
                }

                &_slider {
                    width: 100%;

                    .swiper {
                        &-button {

                            &-prev,
                            &-next {
                                width: 44px;
                                height: 44px;
                            }

                            &-prev {
                                left: 15px;
                            }

                            &-next {
                                right: 15px;
                            }
                        }
                    }
                }
            }

            &-container {
                &-title {
                    font-size: 40px;
                    line-height: 50px;
                }

                &-subtitle {
                    font-size: 15px;
                }
            }
        }

        &__contact {
            &-title {
                font-size: 30px;
                line-height: 40px;
                margin-bottom: 23px;
            }

            &-info {
                margin-top: 0;

                &__list {
                    flex-wrap: wrap;
                    row-gap: 25px;

                    &__group {
                        width: 45%;
                    }
                }
            }
        }

        &__subservice {
            &__list {
                &__item {
                    padding: 20px;

                    &:first-child {
                        padding: 20px;
                    }

                    &-title {
                        line-height: 25px;
                    }
                }
            }
        }

    }
}

@media (max-width: 768px) {
    .dealer__list-container-title {
        font-size: 26px;
        line-height: 36px;
    }

    .dealer__map-container-map{
        height: 400px;
    }
}

@media (max-width: 650px) {
    .dealer {
        &__service {
            padding-bottom: 40px;

            .toggle-content {
                max-height: 334px;
            }

            button.btn-read-more {
                display: flex;
            }

            &__list {
                grid-template-columns: repeat(1, 1fr);
            }
        }

        &__subservice {
            width: 100%;

            &__list {
                &__item {
                    width: 100%;
                    border-right: 0;
                    border-bottom: 1px solid #DFDFDF;
                }
            }
        }
    }
}

@media (max-width: 500px) {

    .dealer__map-container-title {
        font-size: 30px;
        line-height: 40px;
    }

    .dealer {
        &__contact {
            margin: 30px auto 40px;

            &-info {
                gap: 20px;

                &__list {
                    &__group {
                        row-gap: 20px;
                    }
                }

                &__block {
                    &-text {
                        &--bold {
                            font-weight: 700;
                            line-height: 24px;
                        }

                        &--fs18 {
                            font-size: 18px;
                        }
                    }
                }
            }

            &-title {
                font-size: 26px;
                line-height: 36px;
            }

            &-info {
                &__list {
                    &__group {
                        width: 100%;
                    }
                }
            }
        }

        &__city {
            &-container {
                &-title {
                    font-size: 30px;
                    line-height: 40px;
                }
            }
        }

        &__service {
            padding: 40px 0;

            &__title {
                font-size: 26px;
                font-weight: 700;
                line-height: 36px;
                margin-bottom: 15px;
            }

            &__list {
                grid-gap: 12px;

                &__item {
                    &-text {
                        font-size: 14px;
                    }
                }
            }
        }

        &__subservice {
            &__list {
                &__item {
                    &-title {
                        font-size: 16px;
                    }

                    &-icon {
                        width: 34px;
                        height: 34px;
                    }
                }
            }
        }

        &__directions {
            padding: 40px 0;
            border-bottom: 0;
        }
    }
}

@media (max-width: 400px) {
    .dealer__city-content__map {
        height: 200px;
        flex: auto;
    }

    .dealer__city-content_slider {
        .swiper {
            &-pagination {
                display: none;
            }
        }
    }
}