.pagination {
    text-align: center;
    margin: 50px;
    user-select: none;
}

.pagination li {
    display: inline-block;
    background: #FBFBFB;
    margin-right: 5px;
    padding: 5px 5px;
}

.pagination li a {
    color: $sub-black;
    font-size: 16px;
    line-height: 2.6em;
    font-weight: 500;
}

.current-page,
.dots {
    width: 2.8em;
    border-radius: 50%;
    cursor: pointer;
}

.current-page:hover {
    padding: 8px;
    background: $main-blue;
}

.current-page:hover a {
    color: $white;
}

.pagination li.active {
    background: $main-blue;
    padding: 8px;
}

.pagination li.active a {
    color: $white;
}

.pagination-list {
    gap: 30px;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 1100px) {
    .pagination-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .pagination-list {
        gap: 10px;
        grid-template-columns: repeat(1, 1fr);
    }
}