.select-default {
    position: relative;

    & select {
        width: 100%;
        outline: none;
        cursor: pointer;
        padding: 17px 20px;
        background-color: $white;
        border: 1px solid #DFDFDF;
        background-repeat: no-repeat;
        background-position: right 10px center;
        background-image: url(../images/icons/default/arrowSelectBlue.svg);

        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;

        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        color: $deep-gray;

        &::-ms-expand {
            display: none;
        }
        & option {
            color: $main-black;
            font-size: 15px;
            font-weight: 400;
            line-height: 16px;
            transition: all .5s;
            outline: none;
            &:hover {
                color: $main-blue;
                background: transparent;
                outline: none;
            }

            &:checked {
                color: $main-blue;
                background-color: transparent;
            }
            &:focus {
                outline: none;
            }
        }
    }
}

select:focus + .select-default {
    border-color: #007bff; /* Цвет граничной линии при фокусе */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Тень при фокусе */
}

@media (max-width: 768px) {
    .select-default select {
        padding: 17px 15px;
    }
}