.header {
    top: 0;
    z-index: 4;
    position: sticky;
    background: $white;
    margin-bottom: 25px;

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__top {
        background: #FBFBFB;

        &-left-block {
            width: 758px;
            display: flex;
            align-items: center;

            &-city {
                cursor: pointer;
                margin-right: 30px;

                &__text {
                    margin: 0 0 4px;
                    font-size: 12px;
                    line-height: 10px;
                    color: $main-blue;
                }

                &__select {
                    margin: 0;
                    font-size: 13px;
                    font-weight: 700;
                    line-height: 14px;
                    color: $main-black;
                    position: relative;
                    &::after{
                        position: absolute;
                        top: 0;
                        right: -8px;
                        width: 6px;
                        height: 3px;
                        content: url(../images/icons/default/arrowSelectBlue.svg);
                    }
                }
            }

            &-contact {
                display: flex;
                gap: 20px;
            }

            &-info {
                display: flex;
                align-items: center;
                margin-right: 20px;

                &__icon {
                    width: 18px;
                    height: 18px;
                    margin-right: 5px;
                }

                &__text {
                    margin: 0;
                    font-size: 12px;
                    font-weight: 300;
                    line-height: 18px;
                    color: #575757;
                }
            }

            &-btn-search {
                border: 0;
                height: 50px;
                display: flex;
                cursor: pointer;
                margin-left: 20px;
                align-items: center;
                background-color: #F2F2F2;
                padding: 13px 36px 13px 20px;
                color: #959595;
                transition: all .5s;

                &__icon {
                    width: 20px;
                    height: 20px;
                    margin-right: 8px;

                    & path {
                        fill: #959595;
                        transition: all .5s;
                    }
                }

                &__text {
                    margin: 0;
                    font-size: 13px;
                    line-height: 24px;
                }

                &:hover {
                    color: $main-black;
                    background-color: $white;
                    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.06);

                    .header__top-left-block-btn-search__icon path {
                        fill: $main-blue;
                    }
                }
            }

            &__search-content {
                position: fixed;
                top: -100%;
                left: 50%;
                transform: translate(-50%, 0);
                background-color: $white;
                padding: 40px;
                width: 760px;
                box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                transition: top 0.3s ease;
            }
        }

        &-right-block {
            width: 504px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            &-info {
                display: flex;
                align-items: center;

                &__icon {
                    width: 20px;
                    height: 20px;
                    margin-right: 8px;
                }

                &__text {
                    margin: 0;
                    font-size: 15px;
                    font-weight: 600;
                    color: $main-black;
                }
            }
        }
    }

    &__bottom {
        padding: 13px 0;
        background: white;

        &-left-block {
            width: 1033px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &-right-block {
            display: flex;
            align-items: center;
            justify-content: space-between;

            &__btn {
                border: 0;
                padding: 8px;
                border-radius: 36px;
                background: $white;
                box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.08);
                margin-right: 8px;
                transition: all .3s;

                &__img {
                    width: 20px;
                    height: 20px;
                }

                &:hover {
                    transform: scale(1.2);
                }
            }

            &__btn-login {
                border: 0;
                display: flex;
                align-items: center;
                padding: 8px 18px;
                border-radius: 999px;
                background: $main-blue;

                &__img {
                    width: 20px;
                    height: 20px;
                    margin-right: 5px;
                }

                &__text {
                    color: $white;
                    font-size: 13px;
                    font-weight: 600;
                    line-height: 13px;
                }
            }
        }

        &__link {
            color: #141B2B;
            font-size: 15px;
            font-weight: 600;
            transition: all .3s;

            &:hover {
                color: $main-blue;
            }
        }

        &__link-dropdown {
            color: #141B2B;
            font-size: 15px;
            font-weight: 600;
            margin-right: 5px;
            transition: all .3s;
        }
    }

    &__mobile {
        padding: 10px 0;
        display: none;
        align-items: center;
        justify-content: space-between;

        &-logo {
            width: 125.035px;
            height: 26px;
        }

        &-container {
            gap: 20px;
            display: flex;
            align-items: center;
        }

        &-list {
            gap: 5px;
            display: flex;
            align-items: center;

            &__item {
                display: flex;

                &-btn {
                    padding: 8px;
                    border-radius: 36px;
                    background: $white;
                    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.08);
                }
            }
        }

        &-burger-menu {
            background: transparent;
        }
    }
}

.navigation {
    &-list {
        width: 828px;
        display: flex;
        justify-content: space-between;

        &__item {
            font-size: 15px;
            font-weight: 600;
            color: #141B2B;
            position: relative;
            display: flex;
            justify-content: center;

            &:hover {
                cursor: pointer;

                .navigation-sublist-group {
                    display: block;
                }

                .header__bottom__link-dropdown{
                    color: $main-blue;
                }
            }

            &:nth-child(2) {
                .navigation-sublist__item-content {
                    border-radius: 0px 0px 8px 0px;
                }
            }
        }
    }

    &-sublist {
        position: relative;
        box-sizing: border-box;
        box-shadow: 0px 34px 90px 0px rgba(0, 0, 0, 0.10);

        &-group {
            display: none;
            margin-top: 23px;
            width: 292px;
            position: absolute;
        }

        &__item {
            padding: 14px 24px;
            display: flex;
            background-color: $white;
            align-items: center;
            padding: 14px 24px;

            &:hover {
                .navigation-sublist__item-content {
                    display: block;
                }

                .icon-arrow {
                    transform: rotate(0);
                }

                a {
                    color: $main-blue;
                }
            }

            a {
                transition: all .3s;
            }

            &:first-child {
                padding-top: 19px;
            }

            &:last-child {
                padding-bottom: 19px;
                border-radius: 0px 0px 0px 8px;
            }

            &:not(:last-child) {
                border-bottom: 1px solid #E9E9E9;
            }

            .icon-arrow {
                transform: rotate(-90deg);
                transition: all .3s;
            }

            &-img {
                width: 24px;
                height: 24px;
                margin-right: 10px;
            }

            &-link {
                width: 190px;
                font-size: 14px;
                font-weight: 700;
                color: $main-black;
            }

            &-content {
                z-index: 4;
                display: none;
                width: 825px;
                min-height: 381px;
                max-height: 75vh;
                overflow-y: scroll;
                position: absolute;
                top: 0;
                left: 290px;
                padding: 30px 40px;
                box-sizing: border-box;
                border-radius: 0px 0px 8px 8px;
                background: $white;
                box-shadow: 0px 34px 90px 0px rgba(0, 0, 0, 0.10);

                &::-webkit-scrollbar {
                    width: 5px;
                }
            
                &::-webkit-scrollbar-track {
                    background-color: #FBFBFB;
                }
            
                &::-webkit-scrollbar-thumb {
                    background-color: $main-blue;
                    border-radius: 4px;
                    cursor: pointer;
                }
            
                &::-webkit-scrollbar-button {
                    display: none;
                }

                &_top {
                    display: flex;
                    margin-bottom: 25px;
                }

                &_btn {
                    display: flex;
                    align-items: center;
                    border-radius: 4px;
                    padding: 10px 20px 10px 14px;

                    &:hover {
                        transform: scale(1.02);
                    }

                    &:not(:last-child) {
                        margin-right: 10px;
                    }

                    &--blue {
                        background: $main-blue;

                        span,
                        p {
                            color: $white;
                        }
                    }

                    &--yellow {
                        background: $main-yellow;

                        span,
                        p {
                            color: $main-black;
                        }
                    }

                    img {
                        margin-right: 8px;
                        width: 30px;
                        height: 30px;
                    }

                    span {
                        font-size: 14px;
                        font-weight: 700;
                    }

                    p {
                        font-size: 12px;
                        font-weight: 400;
                    }
                }

                &_cars {
                    display: grid;
                    grid-template-columns: repeat(5, 1fr);
                    grid-column-gap: 10px;
                    grid-row-gap: 18px;

                    &-item {
                        display: flex;
                        align-items: center;

                        &:hover {
                            opacity: 0.5;
                        }

                        img {
                            margin-right: 6px;
                            width: 35px;
                            height: 29px;
                        }

                        span {
                            color: $main-black;
                            font-size: 13px;
                            font-weight: 500;
                            line-height: 18px;
                            width: 100px;
                            margin-bottom: 2px;
                        }

                        p {
                            color: $sub-black;
                            font-size: 10px;
                            font-weight: 400;
                            line-height: 10px;
                        }
                    }
                }

                &_title {
                    display: flex;
                    align-items: center;
                    margin-bottom: 25px;

                    img {
                        width: 34px;
                        height: 34px;
                        margin-right: 10px;
                    }

                    span {
                        color: $main-blue;
                        font-size: 18px;
                        font-weight: 700;
                        line-height: 24px;
                    }
                }

                &_list {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-gap: 25px;
                }

                &_item {
                    span {
                        color: #000;
                        font-size: 15px;
                        font-weight: 700;
                        line-height: 22px;
                    }

                    p {
                        color: #707070;
                        font-size: 12px;
                        font-weight: 400;
                        line-height: 18px;
                    }
                }

                &_link {
                    transition: all .3s;

                    &:hover {
                        opacity: 0.5;
                    }
                }
            }
        }
    }
}

@media (max-width: 1450px) {
    .logo {
        width: 110px;
    }

    .header__bottom-left-block {
        width: 820px;
    }

    .block-contact__text-dark,
    .block-contact__text-light {
        font-size: 14px;
    }

    .header__top-right-block {
        width: 450px;
    }

    .header__top-left-block-btn-search__text {
        font-size: 11px;

    }

    .header__top-left-block-btn-search__icon {
        width: 15px;
        height: 15px;
    }

    .header__top-left-block-btn-search {
        padding: 13px;
        margin-left: 10px;
    }

    .header__bottom__link-dropdown,
    .header__bottom__link {
        font-size: 13px;
    }

    .navigation-list {
        width: 690px !important;
    }

    .header__top-left-block-city {
        margin-right: 10px;
    }

    .header__top-left-block-contact {
        gap: 10px;
    }
}


@media (max-width: 1300px) {
    .navigation-sublist__item-content{
        width: 500px;
    }

    .navigation-sublist__item-content_cars{
        grid-template-columns: repeat(3, 1fr);
    }
}


@media (max-width: 1080px) {
    .header {
        margin-bottom: 0;

        &__top,
        &__bottom {
            display: none;
        }

        &__mobile {
            display: flex;
        }
    }

    .navigation {
        &-sublist {
            box-shadow: none;

            &-group {
                width: 100%;
                position: static;
                padding-top: 0;
            }

            &__item {
                padding: 14px 0;

                &:first-child {
                    padding-top: 0;
                }

                &:last-child {
                    padding-bottom: 0;
                }

                &-link {
                    font-size: 16px;
                }

                .icon-arrow {
                    margin-left: auto;
                }

                &-content {
                    position: static;
                    width: 100%;
                    min-height: auto;
                    padding: 0;
                    box-shadow: none;

                    &_list {
                        grid-template-columns: repeat(1, 1fr);
                        grid-gap: 20px;
                    }

                    &_top {
                        flex-direction: column;
                    }

                    &_btn {
                        display: flex;
                        align-items: center;
                        width: 100%;

                        &:not(:last-child) {
                            margin-right: 0;
                        }

                        &:first-child {
                            margin-bottom: 5px;
                        }

                        span {
                            font-size: 13px;
                        }

                        &:hover {
                            transform: scale(1);
                        }
                    }

                    &_cars {
                        grid-template-columns: repeat(2, 1fr);
                        grid-gap: 9px;

                        &-item {
                            border-radius: 2px;
                            background: #FBFBFB;
                            padding: 10px 14px;
                        }
                    }
                }


            }
        }

        &-list {
            &__item {
                .header__bottom__link-dropdown {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    justify-content: space-between;
                }

                &:hover .navigation-sublist-group {
                    display: none;
                }
            }
        }
    }
}