.news-promotions {
    & .news-promotions {
        & .first-title {
            margin-bottom: 30px;
        }
    }

    & .new-products {
        border: 0;
        margin-bottom: 50px;
    }
}

@media (max-width: 768px) {
    .news-promotions {
        & .new-products {
            margin-bottom: 0;
        }
    }
}