.news-videos {
    & .pagintions {
        & .first-title {
            margin-bottom: 30px;
        }

        & .pagination-list {
            gap: 30px;
            display: grid;
            grid-auto-flow: row;
            grid-template-columns: repeat(2, 1fr);
        }
    }
    & .new-products {
        margin: 90px auto 50px;
        border: 0;
    }
}

@media (max-width: 768px) {
    .news-videos {
        & .new-products {
            margin: 40px auto 0;
        }
    }
}


@media (max-width: 700px) {
    .news-videos {
        & .pagintions {
            & .pagination-list {
                grid-template-columns: repeat(1, 1fr);
            }
        }
    }
}
