<div class="centers">
    <p class="centers__title">Сервисные центры</p>
    <ul class="centers__list">
        <li class="centers__list__item">
            <a href="#">
                <div class="centers-card">
                    <img src="/images/icons/model/volkswagen.svg" alt="" class="centers-card__img">
                    <div>
                        <p class="centers-card__title">Volkswagen</p>
                        <p class="centers-card__subtitle">22 авто</p>
                    </div>
                </div>
                <!-- /.centers-card -->
            </a>
        </li>
        <li class="centers__list__item">
            <a href="#">
                <div class="centers-card">
                    <img src="/images/icons/model/audi.svg" alt="" class="centers-card__img">
                    <div>
                        <p class="centers-card__title">Audi</p>
                        <p class="centers-card__subtitle">45 авто</p>
                    </div>
                </div>
                <!-- /.centers-card -->
            </a>
        </li>
        <li class="centers__list__item">
            <a href="#">
                <div class="centers-card">
                    <img src="/images/icons/model/bmw.svg" alt="" class="centers-card__img">
                    <div>
                        <p class="centers-card__title">BMW</p>
                        <p class="centers-card__subtitle">65 авто</p>
                    </div>
                </div>
                <!-- /.centers-card -->
            </a>
        </li>
        <li class="centers__list__item">
            <a href="#">
                <div class="centers-card">
                    <img src="/images/icons/model/cadillac.svg" alt="" class="centers-card__img">
                    <div>
                        <p class="centers-card__title">Cadillac</p>
                        <p class="centers-card__subtitle">10 авто</p>
                    </div>
                </div>
                <!-- /.centers-card -->
            </a>
        </li>
        <li class="centers__list__item">
            <a href="#">
                <div class="centers-card">
                    <img src="/images/icons/model/chery.svg" alt="" class="centers-card__img">
                    <div>
                        <p class="centers-card__title">Chery</p>
                        <p class="centers-card__subtitle">14 авто</p>
                    </div>
                </div>
                <!-- /.centers-card -->
            </a>
        </li>
        <li class="centers__list__item">
            <a href="#">
                <div class="centers-card">
                    <img src="/images/icons/model/chevrolet.svg" alt="" class="centers-card__img">
                    <div>
                        <p class="centers-card__title">Chevrolet</p>
                        <p class="centers-card__subtitle">5 авто</p>
                    </div>
                </div>
                <!-- /.centers-card -->
            </a>
        </li>
        <li class="centers__list__item">
            <a href="#">
                <div class="centers-card">
                    <img src="/images/icons/model/citroen.svg" alt="" class="centers-card__img">
                    <div>
                        <p class="centers-card__title">Citroen</p>
                        <p class="centers-card__subtitle">63 авто</p>
                    </div>
                </div>
                <!-- /.centers-card -->
            </a>
        </li>
        <li class="centers__list__item">
            <a href="#">
                <div class="centers-card">
                    <img src="/images/icons/model/datsun.svg" alt="" class="centers-card__img">
                    <div>
                        <p class="centers-card__title">Datsun</p>
                        <p class="centers-card__subtitle">53 авто</p>
                    </div>
                </div>
                <!-- /.centers-card -->
            </a>
        </li>
        <li class="centers__list__item">
            <a href="#">
                <div class="centers-card">
                    <img src="/images/icons/model/fiat.svg" alt="" class="centers-card__img">
                    <div>
                        <p class="centers-card__title">Fiat</p>
                        <p class="centers-card__subtitle">15 авто</p>
                    </div>
                </div>
                <!-- /.centers-card -->
            </a>
        </li>
        <li class="centers__list__item">
            <a href="#">
                <div class="centers-card">
                    <img src="/images/icons/model/honda.svg" alt="" class="centers-card__img">
                    <div>
                        <p class="centers-card__title">Honda</p>
                        <p class="centers-card__subtitle">33 авто</p>
                    </div>
                </div>
                <!-- /.centers-card -->
            </a>
        </li>
        <li class="centers__list__item">
            <a href="#">
                <div class="centers-card">
                    <img src="/images/icons/model/hummer.svg" alt="" class="centers-card__img">
                    <div>
                        <p class="centers-card__title">Hummer</p>
                        <p class="centers-card__subtitle">3 авто</p>
                    </div>
                </div>
                <!-- /.centers-card -->
            </a>
        </li>
        <li class="centers__list__item">
            <a href="#">
                <div class="centers-card">
                    <img src="../../../../../images/icons/model/geely.svg" alt="" class="centers-card__img">
                    <div>
                        <p class="centers-card__title">Geely</p>
                        <p class="centers-card__subtitle">67 авто</p>
                    </div>
                </div>
                <!-- /.centers-card -->
            </a>
        </li>
    </ul>
</div>