<ul class="company">
    <li class="company__item">
        <a href="#">
            <div class="company-card">
                <img src="images/icons/model/bmw.svg" alt="" class="company-card__img">
                <div>
                    <p class="company-card__title">«БМВ БАНК»</p>
                    <p class="company-card__subtitle">Кредитные программы</p>
                </div>
            </div>
            <!-- /.company-card -->
        </a>
    </li>
    <li class="company__item">
        <a href="#">
            <div class="company-card">
                <img src="images/icons/model/lexus.svg" alt="" class="company-card__img">
                <div>
                    <p class="company-card__title">«Lexus Financial Services»</p>
                    <p class="company-card__subtitle">Кредитные программы</p>
                </div>
            </div>
            <!-- /.company-card -->
        </a>
    </li>
    <li class="company__item">
        <a href="#">
            <div class="company-card">
                <img src="images/icons/model/mercedesBenz.svg" alt="" class="company-card__img">
                <div>
                    <p class="company-card__title">«Мерседес-Бенц Банк Рус»</p>
                    <p class="company-card__subtitle">Кредитные программы</p>
                </div>
            </div>
            <!-- /.company-card -->
        </a>
    </li>
    <li class="company__item">
        <a href="#">
            <div class="company-card">
                <img src="images/icons/model/mitsubisi.svg" alt="" class="company-card__img">
                <div>
                    <p class="company-card__title">«Mitsubishi Motors Finance»</p>
                    <p class="company-card__subtitle">Кредитные программы</p>
                </div>
            </div>
            <!-- /.company-card -->
        </a>
    </li>
    <li class="company__item">
        <a href="#">
            <div class="company-card">
                <img src="images/icons/model/volkswagen.svg" alt="" class="company-card__img">
                <div>
                    <p class="company-card__title">«Volkswagen Motors Finance»</p>
                    <p class="company-card__subtitle">Кредитные программы</p>
                </div>
            </div>
            <!-- /.company-card -->
        </a>
    </li>
</ul>