.services-list {
    display: flex;
    &__item {
        width: 25%;
        padding: 30px 2.5%;
        border-right: 1px solid #DFDFDF;
        &:first-child {
            padding-left: 0;
        }
        &:last-child {
            padding-right: 0;
            border-right: 0;
        }
    }
}

@media (max-width: 768px) {
    .services-list {
        flex-direction: column;
        & .wrapper {
            width: 87%!important;
        }
        &__item {
            width: 100%;
            border-right: 0;
            padding: 20px 0;
            border-bottom: 1px solid #DFDFDF;
            &:first-child {
                padding-left: 0;   
            }
            &:last-child {
                padding-right: 0;
                border-right: 0;
            }
        }
    }
    .services-sublist {
        gap: 30px 0;
        &__item {
            width: 100%;
        }
    }
}