.advert-instalment {
    border-radius: 8px;
    position: relative;
    padding: 28px 60px 28px 28%;
    margin-bottom: 78px;
    background: var(--Gradient, linear-gradient(88deg, #2775B8 0%, #44A8FF 99.66%));
    
    &__img {
        top: -8px;
        left: 0;
        width: 26%;
        object-fit: cover;
        height: 175px;
        position: absolute;
        border-radius: 8px 30px 30px 8px;
    }

    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &-group {
            gap: 30px;
            display: flex;
            align-items: center;
        }

        &-icon {
            width: 100px;
            height: 100px;
            object-fit: cover;
        }

        &-title {
            width: 375px;
            color: $white;
            font-size: 40px;
            font-weight: 700;
            line-height: 100%;
        }

        &-btn {
            color: $black;
            font-size: 14px;
            font-weight: 500;
            line-height: 24px;
            padding: 12px 34px;
            border-radius: 4px;
            background: #EEF300;
            box-shadow: 0px 4px 34px 0px rgba(238, 243, 0, 0.25);
        }
    }
}

@media (max-width: 1300px) {
    .advert-instalment {
        &__content {
            &-title {
                width: 100%;
                font-size: 25px;
            }
        }
    }
}

@media (max-width: 700px) {
    .advert-instalment {
        padding: 0;
        padding-bottom: 20px;
        margin-bottom: 40px;
        
        &__img {
            position: static;
            width: auto; 
            height: auto;
            border-radius: 0;
            margin-bottom: 24px;
        }
    
        &__content {
            flex-direction: column;
            justify-content: center;
    
            &-group {
                gap: 20px;
            }
    
            &-icon {
                width: 64px;
                height: 64px;
            }
    
            &-title {
                width: 100%;
                font-size: 28px;
            }
    
            &-btn {
                color: $black;
                font-size: 14px;
                font-weight: 500;
                line-height: 24px;
                padding: 12px 34px;
                border-radius: 4px;
                background: #EEF300;
                box-shadow: 0px 4px 34px 0px rgba(238, 243, 0, 0.25);
            }
        }
    }
}