.catalogs {
    &__content {
        width: 72.9%;
    }

    & .car-list {
        gap: 42px;
        grid-template-columns: repeat(3, 1fr);
    }

    & .tech-specs {
        margin: 120px 0 40px;

        & .third-title {
            margin-bottom: 25px;    
        }

        & .tech-list {
            gap: 40px;
            &__item {
                &:last-child {
                    width: 100%;
                }
            }

        }
    }

    & .description {
        margin-bottom: 40px;

        & .third-title {
            margin-bottom: 22px;
        }

        & .sub-title {
            margin-top: 30px;
        }
    }

    & .tech-list {
        gap: 12px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        &__item {
            width: 35.9%;
        }

        &__header {
            gap: 10px;
            display: flex;
            align-items: center;
            margin-bottom: 20px;

            & .icon {
                width: 34px;
                height: 34px;
                object-fit: cover;
            }

            & .text {
                color: $main-black;
                font-size: 18px;
                font-weight: 700;
                line-height: 28px;
            }
        }
    }

    & .tech-block {
        display: flex;
        font-size: 14px;
        line-height: 24px;
        align-items: center;
        padding: 12px 0;
        justify-content: space-between;
        border-bottom: 1px dashed #E9E9E9;

        & .title {
            color: $sub-black;
            font-weight: 400;
        }

        & .sub-title {
            color: $main-black;
            font-weight: 700;
        }
    }

    & .pickings {
        margin: 40px 0 70px;
        & .third-title {
            margin-bottom: 25px;
        }
    }

    & .section-models {
        margin: 70px auto;

        & .second-title {
            margin-bottom: 50px;
        }
    }

    & .equipment, .equipment-model {
        margin-bottom: 70px;

        & .first-title {
            margin-bottom: 40px;
        }
    }

    & .equipment-model {
        margin: 130px 0 70px;
    }

    & .other-model {
        margin-bottom: 70px;

        & .first-title {
            margin-bottom: 50px;
        }

        & .brand-list {
            gap: 33px;
            grid-template-columns: repeat(3, 1fr);
        }
    }

    & .cars {
        margin-bottom: 70px;    
        
        & .first-title {
            margin-bottom: 50px;
        }

        & .wrapper {
            width: 100%;
        }
    
    }

    & .services {
        padding: 70px 0;
        background: #FBFBFB;
        & .second-title {
            margin-bottom: 70px;
        }
    }

    & .feedback {
        margin-bottom: 30px;
    }

    & .btn-group {
        bottom: 0;
        z-index: 12;
        position: sticky;

        &__contact {
            display: flex;
        }

        & .btn-discount-season {
            margin: 0 0 8px;
            width: 100%;
            padding: 15px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-radius: 8px;
            background: #EEF300;
            box-shadow: 0px 4px 90px 0px rgba(238, 243, 0, 0.25);

            &__left {
                gap: 10px;
                display: flex;
                align-items: center;

                & .icon {
                    width: 24px;
                    height: 24px;
                    object-fit: cover;
                }

                & .text {
                    color: $black;
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 16px;
                }
            }

            &__date {
                color: $black;
                font-size: 12px;
                font-weight: 400;
                line-height: 12px;
            }
        }

        & .button  {
            gap: 8px;
            width: 100%;
            display: flex;
            padding: 12px 0;
            align-items: center;
            justify-content: center;

            &-icon {
                width: 24px;
                height: 24px;
                object-fit: cover;
            }

            &-info {
                gap: 2px;
                color: $white;
                display: flex;
                flex-direction: column;
                align-items: start;

                & .text {
                    font-size: 10px;
                    font-weight: 400;
                    line-height: 10px;
                }

                & .sub-text {
                    font-size: 14px;
                    font-weight: 700;
                    line-height: 14px;
                }
            }

        }

        & .btn-call {
            background: $main-blue;
        }

        & .btn-write {
            background: #0DC143;
        }
    }
}

@media (max-width: 1500px) {
    .catalogs {
        &__content {
            width: 68.9%;
        }
    }
}

@media (max-width: 1200px) {
    .catalogs {
        & .other-model {
            margin-bottom: 50px;
    
            & .first-title {
                margin-bottom: 20px;
            }
    
            & .brand-list {
                gap: 30px;
                grid-template-columns: repeat(2, 1fr);
            }
        }

        & .cars {
            margin-bottom: 50px;    
            
            & .first-title {
                margin-bottom: 20px;
            }
    
            & .wrapper {
                width: 100%;

                & .link-more-mobile {
                    display: none;
                }
            }
        
        }

        & .car-list {
            gap: 20px;
            grid-template-columns: repeat(2, 1fr);
        }

        & .services {
            padding: 40px 0;
            & .second-title {
                margin-bottom: 25px;
            }
        }

        & .section-models {
            margin: 40px auto;
    
            & .second-title {
                margin-bottom: 25px;
            }
        }

        & .feedback {
            margin-bottom: 40px;
        }
    }
}

@media (max-width: 1000px) {
    .catalogs {
        &__content {
            width: 100%;
        }

        & .other-model {
            & .brand-list {
                gap: 20px;
                grid-template-columns: repeat(3, 1fr);
            }
        }

        & .car-list {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

@media (max-width: 800px) {
    .catalogs {

        & .other-model {
            & .brand-list {
                gap: 20px;
                grid-template-columns: repeat(2, 1fr);
            }
        }

        & .car-list {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media (max-width: 600px) {
    .catalogs {
        & .other-model {
            & .brand-list {
                gap: 20px;
                grid-template-columns: repeat(1, 1fr);
            }
        }

        & .car-list {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}