.auto-card {
    & .recomendated {
        margin: 70px 0;

        & .wrapper {
            width: 100%;
        }

        & .first-title {
            margin-bottom: 50px;
        }
    }

    & .models {
        margin-top: 70px;
    }

    & .promotions {
        margin-top: 70px;
    }

    & .feedback {
        margin-bottom: 30px;
    }
}



.new-auto-card {
    &__content {
        width: 72.9%;
    }

    &__form {
        top: 120px;
        z-index: 1;
        position: sticky;
        height: 648px;
        padding: 40px;
        width: 24.1%;
        border-radius: 8px;
        background: #EEF300;
        box-shadow: 0px 4px 90px 0px rgba(238, 243, 0, 0.25);

        & .title {
            color: $black;
            text-align: center;
            font-size: 24px;
            font-weight: 700;
            line-height: 24px;
            margin-bottom: 5px;
        }

        & .sub-title {
            color: $black;
            text-align: center;
            font-size: 15px;
            font-weight: 400;
            line-height: 24px;
        }

        & .first {
            margin-bottom: 10px;
        }

        & .second {
            margin-bottom: 24px;
        }

        & .time-counter {
            display: flex;
            justify-content: space-between;

            &__item {
                display: inline-block;

                & .number {
                    color: #000;
                    font-size: 22px;
                    font-weight: 700;
                    line-height: 22px;
                    padding: 18px 14px;
                    border-radius: 4px;
                    background: #FFF;
                    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.10);
                }

                & .text {
                    color: $sub-black;
                    text-align: center;
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 12px;
                    margin-top: 8px;
                }
            }
        }

        & .price-block {
            gap: 5px;
            display: flex;
            align-items: center;
            margin: 23px 0;

            & .text {
                color: $sub-black;
                font-size: 13px;
                font-weight: 400;
                line-height: 18px;
            }

            & .price {
                color: #000;
                font-size: 20px;
                font-weight: 700;
                line-height: 20px;
            }

            & .currency {
                color: $main-black;
                font-size: 14px;
                font-weight: 400;
                line-height: 14px;
            }
        }

        &__elements {
            gap: 8px;
            display: flex;
            flex-direction: column;
        }

        &__btn {
            width: 100%;
            padding: 15px 0;
            margin-top: 20px;
        }
    }

    &__equipment {
        margin: 70px 0;
        & .first-title {
            margin-bottom: 30px;
        }
    }

    &__about {
        &__list {
            gap: 30px;
            display: flex;
            flex-direction: column;
            margin-top: 40px;

            & .fourth-title {
                margin-bottom: 10px;
            }
        }
    }

    &__other-model {
        margin-bottom: 70px;
        & .brand-list {
            gap: 25px 33px;
            grid-template-columns: repeat(3, 1fr);
        }
    }

    &__publicity-first {
        display: flex;
        align-items: center;
        
        .image {
            overflow: visible;
            margin-right: 10px;
        }
        
        img {
            width: 100%;
            border-radius: 8px 30px 30px 8px;
            box-shadow: 0px 14px 60px 0px rgba(0, 0, 0, 0.08);
        }
        
        .text {
            flex-grow: 1;
        }
        
    }

    &__publicity-second {
        margin: 70px 0;
        border-radius: 8px;
        padding: 39px 40px 41px;
        background-size: 100%;
        background-repeat: no-repeat;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.65) 100%), url(../images/card/image4.png), lightgray 0px -396.481px / 100% 329.651% no-repeat;

        &__top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 39px;

            & .text-block {
                display: flex;
                color: $white;
                font-weight: 400;
                line-height: 100%;
                align-items: center;
                & .text {
                    font-size: 34px;
                    margin-right: 10px;
                }

                & .price {
                    font-size: 44px;
                    font-weight: 700;
                    margin-right: 4px;
                }

                & .currency {
                    font-size: 24px;
                }
            }

            & .sub-title {
                color: $white;
                font-size: 18px;
                font-weight: 400;
                line-height: 36px;

                & span {
                    color: #EEF300;
                }
            }
        }

        &__bottom {
            display: flex;
            justify-content: space-between;
        
            & .btn-green {
                color: $white;
                font-size: 14px;
                font-weight: 500;
                line-height: 24px;
                border-radius: 4px;
                padding: 12px 24px;
                background: #00A811;
                box-shadow: 0px 4px 34px 0px rgba(0, 168, 17, 0.25);

                &:hover {
                    transform: scale(1.1);
                }
            }
        }


        &__info {
            gap: 70px;
            display: flex;

            & .text {
                color: $white;
                font-size: 15px;
                font-weight: 500;
                line-height: 15px;
                margin-bottom: 5px;
            }

            & .sub-text {
                color: #EEF300;
                font-size: 30px;
                font-weight: 700;
                line-height: 30px;
            }
        }
    }

    &__auto {
        & .first-title {
            margin-bottom: 50px;
        }

        & .wrapper {
            width: 100%;
        }

        & .block-title {
            display: none;
        }

        & .car-list {
            gap: 45px 40px;
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

@media (max-width: 768px) {
    .new-auto-card {
        &__content {
            width: 100%;
        }
        &__right {
            width: 21.1%;
        }
    
        &__about {
            &__list {
                gap: 30px;
                display: flex;
                flex-direction: column;
                margin-top: 40px;
    
                & .fourth-title {
                    margin-bottom: 10px;
                }
            }
        }
    }
}