.mileage-cars-card {
    &__desc {
        color: $main-black;
        font-size: 13px;
        font-weight: 500;
        line-height: 18px;
    }
    &__list {
        gap: 4px;
        display: flex;
        flex-wrap: wrap;
        margin: 8px 0 10px;
        &__item {
            padding: 6px;
            color: $black;
            font-size: 11px;
            font-weight: 400;
            line-height: 11px;
            border-radius: 2px;
            background: $main-yellow;
        }

        & .toggle-btn {
            gap: 5px;
            display: flex;
            padding: 3.5px 0;
            align-items: center;
            color: $main-black;
            font-size: 11px;
            font-weight: 400;
            line-height: 11px;
            & .blue {
                color: $main-blue;
            }
        }

        & .hidden {
            display: none;
        }
    }
}