.main-filter {
    background-color: #fbfbfb;
    padding: 40px;
    border-radius: 8px;
    & .input-default {
        width: 50%;
    }
    &__btn {
        gap: 5px;
        display: flex;
        &-icon {
            width: 24px;
            height: 24px;
            object-fit: cover;
        }
        &-text {
            color: $main-black;
            font-size: 14px;
            font-weight: 400;
            line-height: 24px;
            transition: all .5s;
        }

        & .all-params:hover {
            color: $main-blue;
        }

        & .reset:hover {
            color: #D60000;
        }
    }
    &__btn-primary {
        padding: 18px 34px;
    }
    &__btn-group {
        gap: 30px;
        display: flex;
    }
    & .input-group {
        gap: 8px;
        display: flex;
    //     display: grid;
    //     grid-auto-flow: row;
    //     grid-template-columns: repeat(2, 1fr); 
    }
    &__content {
        gap: 8px;
        display: grid;
        grid-auto-flow: row;
        grid-template-columns: repeat(4, 1fr); 
        margin-bottom: 25px;
    }
    &__bottom {
        gap: 25%;
        display: flex;
        align-items: center;
    }
}

@media (max-width: 1300px) {
    .main-filter {
        &__content {
            grid-template-columns: repeat(3, 1fr);
        }
        &__bottom {
            gap: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
}

@media (max-width: 900px) {
    .main-filter {
        &__btn-primary {
            width: 345px;
            margin: 0 auto;
            padding: 23px 0;
        }
        &__btn-group {
            gap: 0;
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
        }
        &__content {
            grid-template-columns: repeat(2, 1fr);
            margin-bottom: 20px;
        }
        &__bottom {
            gap: 25%;
            display: flex;
            align-items: center;
            flex-direction: column;
        }
    }
}

@media (max-width: 600px) {
    .main-filter {
        background-color: transparent;
        padding: 0;
        &__btn-primary {
            width: 100%;
            padding: 23px 0;
        }
        &__btn-group {
            gap: 0;
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
        }
        & .hidden {
            display: none;
        }
        &__content {
            gap: 0;
            grid-template-columns: repeat(1, 1fr);
        }
        &__bottom {
            gap: 25%;
            display: flex;
            align-items: center;
            flex-direction: column;
        }
    }
}
