.new-products {
    padding: 70px 0;
    background: linear-gradient(180deg, $main-blue 65%, transparent 35%);
    border-bottom: 1px solid #ECECEC;
    & .second-title {
        color: $white;
    }

    &-card {
        &__img-container {
            height: 290px;
        }
    }
}

@media (max-width: 1024px) {
    .new-products {
        padding: 40px 0;
    }
}